html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #c9c9c9;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8rem;
  background-color: transparent;
  font-family: "Noto Serif", serif;
  transition: all ease-in-out 0.5s;
  z-index: 1;
}

nav.sticky{
  background: rgb(144, 104, 92);
}

.name {
  position: relative;
  color: white;
  font-size: 4rem;
  font-family: "Tangerine", cursive;
  transition: all ease-in-out 0.75s;
}

.navLink {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.navLink li{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navLink a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.75s;
}

.navLink a:hover {
  font-weight: bolder;
  border-bottom: 1px solid;
  border-color: white;
}

.header {
  position: relative;
  text-align: center;
}

.backgroundImage {
  width: 1980px;
  height: 937px;
  object-fit: cover;
}

.headerContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Continent {
  font-family: "Noto Serif", serif;
  font-size: 4rem;
  transition: all ease-in-out 0.75s;
  width: 35rem;
}

.Continent:hover {
  color: white;
}

.Europe {
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 8rem;
  transition: all ease-in-out 0.75s;
  width: 30rem;
}

.Europe:hover {
  color: white;
}

.cities {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.cityCard {
  position: relative;
  text-align: center;
  width: 40rem;
  margin-bottom: 5rem;
}

.cityImage {
  width: 100%;
  height: 50rem;
  object-fit: cover;
  margin: auto;
  display: block;
  transition: all ease-in-out 0.75s;
}

.text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all ease-in-out 0.75s;
}

.text-wrapper:hover {
  opacity: 1;
}

.cityName {
  font-family: "Noto Serif", serif;
  font-weight: 500;
  font-size: 2rem;
  color: white;
}
