html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #c9c9c9;
}

.headerContainer {
  text-align: center;
  background-color: white;
  margin-bottom: -30rem;
}

.backgroundImage {
  width: 1980px;
  height: 810px;
  object-fit: cover;
}

.name {
  font-family: "Tangerine", cursive;
  font-size: 5rem;
  color: white;
  position: relative;
  top: -80rem;
  margin-right: 172rem;
}

.navContainer {
  width: 100%;
  position: relative;
  top: -83.5rem;
}

.navCities {
  font-family: "Noto Serif", serif;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  transition: all ease-in-out 0.75s;
}

.navCities:hover {
  color: white;
  border-bottom: 1px solid;
  border-color: white;
}

.titleContainer {
  width: 100%;
  position: relative;
  top: -57rem;
  margin: auto;
}

.header {
  font-family: "Noto Serif", serif;
  font-size: 4rem;
  transition: all ease-in-out 0.75s;
  width: 35rem;
  margin: auto;
}

.header:hover {
  color: white;
}

.title {
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 8rem;
  transition: all ease-in-out 0.75s;
  width: 30rem;
  margin: auto;
}

.title:hover {
  color: white;
}

.cities {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.cityCard {
  position: relative;
  text-align: center;
  width: 40rem;
  margin-bottom: 5rem;
}

.cityImage {
  width: 100%;
  height: 50rem;
  object-fit: cover;
  margin: auto;
  display: block;
  transition: all ease-in-out 0.75s;
}

.cityImage:hover {
  opacity: 0.2;
}

.text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all ease-in-out 0.75s;
}

.text-wrapper:hover {
  opacity: 1;
}

.cityName {
  font-family: "Noto Serif", serif;
  font-weight: 500;
  font-size: 2rem;
  color: white;
}
