html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.headerContainer {
  text-align: center;
  background-color: white;
  margin-bottom: -25rem;
}

.backgroundImage {
  width: 1980px;
  height: 540px;
  object-fit: cover;
}

.titleContainer {
  width: 100%;
  position: relative;
  top: -35rem;
  margin: auto;
}

.header {
  font-family: "Noto Serif", serif;
  font-size: 4rem;
}

.header:hover {
  color: white;
  transition: 0.5s;
}

.name {
  font-family: "Tangerine", cursive;
  font-size: 5rem;
  color: white;
}

.title {
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 8rem;
}

.title:hover {
  color: white;
  transition: 0.5s;
}

.cities {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.cityCard {
  text-align: center;
  background-color: black;
  margin-bottom: 6rem;
}

.cityImage {
  width: 40rem;
  height: 50rem;
  object-fit: cover;
  margin: auto;
  display: block;
}

.cityImage:hover {
  opacity: 0.2;
  transition: 0.5s;
}

.text-wrapper {
  width: 100%;
  position: relative;
  top: -9rem;
  margin: auto;
}

.cityName {
  font-family: "Noto Serif", serif;
  font-size: 4rem;
  color: white;
}

.cityCountry {
  font-family: "Noto Serif", serif;
  font-size: 2rem;
  color: white;
}
