html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

::selection {
  background-color: #c9c9c9;
}

.headerContainer {
  text-align: center;
  background-color: white;
  margin-bottom: -30rem;
}

.backgroundImage {
  width: 1980px;
  height: 810px;
  object-fit: cover;
}

.name {
  font-family: "Tangerine", cursive;
  font-size: 5rem;
  color: white;
  position: relative;
  top: -80rem;
  margin-right: 170rem;
}

.navContainer {
  width: 100%;
  position: relative;
  top: -83rem;
}

.navCities {
  font-family: "Noto Serif", serif;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  transition: all ease-in-out 0.5s;
}

.navCities:hover {
  color: white;
  font-style: italic;
  font-weight: bolder;
  border-bottom: 1px solid;
  border-color: white;
}

.titleContainer {
  width: 100%;
  position: relative;
  top: -57rem;
  margin: auto;
}

.header {
  font-family: "Noto Serif", serif;
  font-size: 4rem;
  transition: all ease-in-out 0.5s;
}

.header:hover {
  color: white;
}

.title {
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 8rem;
  transition: all ease-in-out 0.5s;
}

.title:hover {
  color: white;
}

.cities {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.cityCard {
  text-align: center;
  background-color: black;
  margin-bottom: 6rem;
}

.cityImage {
  width: 40rem;
  height: 50rem;
  object-fit: cover;
  margin: auto;
  display: block;
}

.cityImage:hover {
  opacity: 0.2;
  transition: 0.5s;
}

.text-wrapper {
  width: 100%;
  position: relative;
  top: -9rem;
  margin: auto;
}

.cityName {
  font-family: "Noto Serif", serif;
  font-size: 4rem;
  color: white;
}

.cityCountry {
  font-family: "Noto Serif", serif;
  font-size: 2rem;
  color: white;
}
